.skeleton {
  background-color: #dddddd;
  /* margin: 0.75rem 0; */
  border-radius: 0.25rem;
}

.skeleton.width-100 {
  width: 100%;
}

.skeleton.width-75 {
  width: 75%;
}

.skeleton.width-50 {
  width: 50%;
}

.skeleton.width-45 {
  width: 45%;
}

.skeleton.width-25 {
  width: 25%;
}

.skeleton.product {
  height: 250px;
}

.skeleton.full {
  height: 100%;
}

/* animate-pulse */

@keyframes pulse {
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.7;
  }
}

.animate-pulse {
  animation: pulse 10s infinite;
}
