@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes modalKey {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.modal {
  animation: modalKey 0.5s ease 0s 1 normal forwards;
}

@keyframes modalBackground {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: modalBackground 1s ease 0s 1 normal forwards;
}
