@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@keyframes modalKey {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.modal {
  animation: modalKey 0.5s ease 0s 1 normal forwards;
}

@keyframes modalBackground {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: modalBackground 1s ease 0s 1 normal forwards;
}

/* Tailwind styles */
.flex_center {
  @apply flex items-center;
}

.flex_item_justify_center {
  @apply flex items-center justify-center;
}

.border1 {
  @apply border-b-[1px] border-grey;
}

.flex_col_center {
  @apply flex flex-col items-center;
}

.grid_center {
  @apply grid place-items-center;
}

.border_grey_1 {
  @apply border-[1px] border-grey;
}

.cart_container {
  @apply flex flex-col gap-10 p-8 border-[1px] border-grey rounded-xl h-full w-[60vw];
}

.white_card {
  @apply py-6 px-5 bg-white shadow-lg rounded-xl border-[1px] border-grey;
}

.paddingX {
  @apply px-[4.6%];
}
