@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fafafa;
  height: "100%";
  box-sizing: border-box;
  top: 0;
  left: 0;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@keyframes modalKey {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.modal {
  animation: modalKey 0.5s ease 0s 1 normal forwards;
}

@keyframes modalBackground {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.blink {
  animation: modalBackground 1s ease 0s 1 normal forwards;
}

/* Tailwind styles */
.flex_center {
  @apply flex items-center;
}

.flex_item_justify_center {
  @apply flex items-center justify-center;
}

.flex_item_justify_between {
  @apply flex items-center justify-between;
}

.flex_start_justify_between {
  @apply flex items-start justify-between;
}

.border1 {
  @apply border-b-[1px] border-grey;
}

.flex_col_center {
  @apply flex flex-col items-center;
}

.grid_center {
  @apply grid place-items-center;
}

.border_grey_1 {
  @apply border-[1px] border-grey;
}

.border_black_1 {
  @apply border-[1px] border-customblack;
}

.cart_container {
  @apply p-4 lg:p-8 bg-white border-[1px] border-grey rounded-xl h-full w-full lg:w-[60vw];
}

.card {
  @apply px-3 py-6 lg:px-5 bg-white rounded-xl border-[1px] border-grey;
}

.white_card {
  @apply card shadow-sm;
}

.cart_card {
  @apply card flex_center justify-between bg-whitee;
}

.paddingX {
  @apply px-[5%];
}

.nav_container {
  @apply w-full flex_center justify-between lg:h-20 h-[70px] px-[2%] border-b-[1px] border-grey bg-white sticky left-0 top-0 z-[100];
}

.product_list_container {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4 gap-y-10;
}

.dropdown_list_item {
  @apply text-sm font-medium hover:bg-gray px-5 py-3;
}

.form {
  @apply flex flex-col gap-6 md:gap-8;
}

.cross_sell_products_wrapper {
  @apply flex_center gap-4 overflow-x-auto max-w-full;
}
